Repository Eclipse-Station/NEV-Northern-Light, pull requests merged in 2021-07, with the labels that each got.

#1511 Bridge update for VIP Bar and the new VIP restrooms.
  maps/CEVEris/_CEV_Eris.dmm
  maps/CEVEris/_Eris_areas.dm
Labels: Feature, Map Changes

#1512 Ports 'Input Load' feature from ES13 SMES UI
  code/modules/power/smes.dm
  nano/templates/smes_eclipse.tmpl
Labels: Eclipse Code Port, Feature, Quality of Life

#1516 Minor fixes
  code/game/machinery/alarm.dm
  maps/CEVEris/Dockside.dmm
  maps/CEVEris/_CEV_Eris.dmm
Labels: Spelling and Grammer, bugfix

#1520 Exotic jazz map update1
  maps/CEVEris/_CEV_Eris.dmm
  maps/CEVEris/centcomm.dmm
  zzz_modular_eclipse/icons/obj/barsign-blue.dmi
Labels: Map Changes, Sprites, bugfix
