Repository Eclipse-Station/NEV-Northern-Light, pull requests merged in 2022-01, with the labels that each got.

#1605 Observers now spawn with normal icons.
  code/controllers/configuration_eclipse.dm
  code/modules/mob/observer/ghost/ghost.dm
  config/example/config_eclipse.txt
Labels: Sprites, bugfix, Ready for review, Config Changes

#1608 Fixes engine wasting line on the Erida.
  maps/CEVEris/_CEV_Erida.dmm
Labels: Map Changes, Non-base branch, bugfix, Maintainer testing: PASS

#1609 CEV Erida - SMES Parts Box
  maps/CEVEris/_CEV_Erida.dmm
Labels: Map Changes, Non-base branch
