Repository Eclipse-Station/NEV-Northern-Light, pull requests merged in 2022-04, with the labels that each got.

#1631 Removes errant space tile in maints
  maps/CEVEris/_CEV_Erida.dmm
Labels: Map Changes, bugfix, Map: Erida

#1634 Adds options to regenerate player icons to VV dropdown menu
  code/modules/admin/view_variables/helpers.dm
  code/modules/admin/view_variables/topic.dm
Labels: Administrative, Needs Testing/Reproducing

#1635 AI core intercomms, small cleanups
  maps/CEVEris/_CEV_Erida.dmm
Labels: Map Changes, Map: Erida

#1648 Fixes bar disposals
  maps/CEVEris/_CEV_Erida.dmm
Labels: Map Changes, bugfix, Map: Erida

#1641 Shield overheat mechanics
  code/modules/shield_generators/shield_generator.dm
  maps/CEVEris/_CEV_Erida.dmm
Labels: Balance/Rebalance, Map Changes, bugfix, Map: Erida

#1637 Adds ", lockers," to the multitool description
  code/game/objects/items/weapons/tools/multitool.dm
Labels: Quality of Life

#1656 Val's Fixin' shit.... again
  cev_eris.dme
  code/game/jobs/job/captain.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/signs.dm
  maps/CEVEris/_CEV_Erida.dmm
  zzz_modular_eclipse/code/game/objects/items/weapons/design_disks/neotheology.dm
  zzz_modular_eclipse/code/modules/projectiles/guns/energy/squire.dm
  zzz_modular_eclipse/icons/obj/guns/energy/squire.dmi
Labels: CI failure, Map Changes, Sprites, bugfix, Manual CI check: PASS, Maintainer testing: PASS, Map: Erida

#1657 Borer modifications
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/living/simple_animal/borer/borer_powers.dm
Labels: Balance/Rebalance

#1658 Adds a file I forgot to include, like a fucking idiot
  nano/templates/shieldgen_eclipse.tmpl
Labels: Priority: Critical, Priority: High, bugfix
