Repository Eclipse-Station/NEV-Northern-Light, pull requests merged in 2023-05, with the labels that each got.

#1717 Vermin rework
  .github/workflows/ci_suite.yml
  code/controllers/configuration_eclipse.dm
  code/controllers/subsystems/processing/mobs.dm
  code/game/gamemodes/events/alarm_malfunction.dm
  code/game/gamemodes/events/carp_migration.dm
  code/game/gamemodes/events/event.dm
  code/game/gamemodes/events/gas_leak.dm
  code/game/gamemodes/events/hidden_events/kaiser.dm
  code/game/gamemodes/events/hivemind_invasion.dm
  code/game/gamemodes/events/infestation.dm
  code/game/gamemodes/events/rogue_drones.dm
  code/game/gamemodes/events/spider_infestation.dm
  code/game/gamemodes/events/vermin.dm
  code/game/gamemodes/storyevent.dm
  code/game/gamemodes/storyteller_print.dm
  code/modules/mob/living/simple_animal/vermin.dm
  config/example/config_eclipse.txt
Labels: Balance/Rebalance, Eclipse edit, GitHub/CI, Ready for review, Administrative, Config Changes, Maintainer testing: PASS

#1718 Automated Power Setup
  maps/CEVEris/_CEV_Erida.dmm
Labels: Balance/Rebalance, Map Changes, Quality of Life, Map: Erida

#1719 Project Jackboot
  cev_eris.dme
  code/__DEFINES/jobs.dm
  code/datums/outfits/jobs/medical.dm
  code/game/jobs/job/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/clothing/head/armor.dm
  code/modules/clothing/suits/armor.dm
  code/modules/examine/descriptions/__defines.dm
  code/modules/examine/descriptions/firearms_fluff.dm
  code/modules/research/designs.dm
  code/modules/research/nodes/combat.dm
  maps/CEVEris/_CEV_Erida.dmm
  zzz_modular_eclipse/code/datums/outfits/jobs/engineering.dm
  zzz_modular_eclipse/code/game/jobs/job/engineering.dm
  zzz_modular_eclipse/code/game/jobs/job/medical.dm
  zzz_modular_eclipse/code/game/machinery/doors/brigdoors.dm
  zzz_modular_eclipse/code/game/objects/items/weapons/grenades/chem_grenade.dm
  zzz_modular_eclipse/code/game/objects/items/weapons/tools/simple_weapons.dm
  zzz_modular_eclipse/code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  zzz_modular_eclipse/code/modules/projectiles/guns/energy/tiandi.dm
  zzz_modular_eclipse/code/modules/projectiles/guns/projectile/automatic/huangdi.dm
  zzz_modular_eclipse/icons/mob/items/lefthand.dmi
  zzz_modular_eclipse/icons/mob/items/righthand.dmi
  zzz_modular_eclipse/icons/obj/grenade/yan.dmi
  zzz_modular_eclipse/icons/obj/guns/energy/guanyu.dmi
  zzz_modular_eclipse/icons/obj/guns/energy/mao.dmi
  zzz_modular_eclipse/icons/obj/guns/energy/sawn_guanyu.dmi
  zzz_modular_eclipse/icons/obj/guns/projectile/huangdi.dmi
  zzz_modular_eclipse/icons/obj/nev_drugs_n_knives.dmi
  zzz_modular_eclipse/icons/obj/weapons/dadao.dmi
Labels: Eclipse edit, Feature, Freeze: Exempt, Map Changes, Map: Erida

#1721 Ianfix
  cev_eris.dme
  maps/CEVEris/_CEV_Erida.dmm
  zzz_modular_eclipse/code/game/objects/items/weapons/storage/boxes.dm
  zzz_modular_eclipse/code/modules/reagents/reagent_containers/food/snacks.dm
  zzz_modular_eclipse/icons/obj/food.dmi
Labels: Lore Compliance

#1723 Update simulated.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/cleaning.dm
Labels: Feature, Freeze: Exempt

#1725 Small map / bug fixes
  cev_eris.dme
  code/modules/mob/language/neohongo.dm
  maps/CEVEris/_CEV_Erida.dmm
  zzz_modular_eclipse/code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  zzz_modular_eclipse/icons/obj/closet.dmi
Labels: Freeze: Exempt, Map Changes, Maintainer testing: PASS, Map: Erida

#1732 Talking Crystal hotfix
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/research/xenoarchaeology/finds/finds_misc.dm
Labels: Eclipse edit, Freeze: Exempt, Priority: High, Maintainer testing: PASS
